{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<div class="container custom-container" style = "background:linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);">
  <div class="container">

  </div>
  <br>
  <div class="container custom-container" style="max-width: 1350px; ">
    <h1>My Posts </h1>
    {% for post in posts %}
      <article class="media content-section">

        <div class="media-body" style="border: 1px solid black; padding: 23px; margin-bottom: 10px;">

          <div class="article-metadata">
            <h2 class="text-uppercase" style="text-align:left;float:left; color: #000000;">{{ post.author }}</h2>
            <h5 style="text-align:right;float:right;">{{ post.date_posted|date:"F d, Y" }}</h5>
            <hr style="clear:both;" />
          </div>

          <h3>{{ post.title }}</h3>
          <p class="article-content">{{ post.content }}</p>
          <br><br>

          <a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn-sm float-right" style="position: relative; top: -10px; ">
            Delete
          </a>
        </div>
      </article>
    {% endfor %}
  </div>



{% endblock %}